<a href="https://colab.research.google.com/github/xavi447/PrograIII_Semi_2025/blob/main/introduccion_pythn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola mundo!")
print("Bienvenidos a la clase de programacion computacional III")

Hola mundo!
Bienvenidos a la clase de programacion computacional III

In [ ]:
nombre = "Javier Romero"
edad = 20
print(nombre, edad)

edad = "veinte"
print("tu edad: ", edad)

Javier Romero 20
tu edad:  veinte

In [ ]:
num1 = 7
num2= 6.5
suma = num1 + num2
print("La suma es:", suma)

La suma es: 13.5

In [ ]:
num1 = float (input("Num1: "))
num2 = float (input("Num2: "))
suma = num1 + num2
print("La suma es: ", suma)

Num1: 20
Num2: 13
La suma es:  33.0

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
resta = num1 - num2
print("La resta es: ", resta)

Num1: 3
Num2: 3
La resta es:  0.0

TIPOS DE DATOS EN PYTHON

In [26]:
# entero
num1 = 6
print (str(num1) + " Esto es un numero entero")

#Decimal
num2 = 7.5
print(num2, "Esto es un numero decimal")

#Boolenao
esMayor = True
print(esMayor, "Esto es un booleano")

#Cadena
nombre = "Javier Romero"
print(nombre, "Esto es una cadena")
print(nombre, "Letra inicial:", nombre[0],"Un valor en especifico:", nombre[5], "rango:", nombre[0:6],"Comenzar desde el final:", nombre[-1])

#Fecha
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))


fechaPersonalizada = date(2025,8,1)
print(fechaPersonalizada)

6 Esto es un numero entero
7.5 Esto es un numero decimal
True Esto es un booleano
Javier Romero Esto es una cadena
Javier Romero Letra inicial: J Un valor en especifico: r rango: Javier Comenzar desde el final: o
2025-07-28 14:09:48.340174 2025-07-28 14:09:48.340174
<class 'datetime.datetime'>
2025-08-01