<a href="https://colab.research.google.com/github/xavi447/PrograIII_Semi_2025/blob/main/introduccion_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola mundo!")
print("Bienvenidos a la clase de programacion computacional III")

Hola mundo!
Bienvenidos a la clase de programacion computacional III

In [ ]:
nombre = "Javier Romero"
edad = 20
print(nombre, edad)

edad = "veinte"
print("tu edad: ", edad)

Javier Romero 20
tu edad:  veinte

In [ ]:
num1 = 7
num2= 6.5
suma = num1 + num2
print("La suma es:", suma)

La suma es: 13.5

In [ ]:
num1 = float (input("Num1: "))
num2 = float (input("Num2: "))
suma = num1 + num2
print("La suma es: ", suma)

Num1: 20
Num2: 13
La suma es:  33.0

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
resta = num1 - num2
print("La resta es: ", resta)

Num1: 3
Num2: 3
La resta es:  0.0

TIPOS DE DATOS EN PYTHON

In [ ]:
# entero
num1 = 6
print (str(num1) + " Esto es un numero entero")

#Decimal
num2 = 7.5
print(num2, "Esto es un numero decimal")

#Boolenao
esMayor = True
print(esMayor, "Esto es un booleano")

#Cadena
nombre = "Javier Romero"
print(nombre, "Esto es una cadena")
print(nombre, "Letra inicial:", nombre[0],"Un valor en especifico:", nombre[5], "rango:", nombre[0:6],"Comenzar desde el final:", nombre[-1])

#Fecha
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))


fechaPersonalizada = date(2025,8,1)
print(fechaPersonalizada)

6 Esto es un numero entero
7.5 Esto es un numero decimal
True Esto es un booleano
Javier Romero Esto es una cadena
Javier Romero Letra inicial: J Un valor en especifico: r rango: Javier Comenzar desde el final: o
2025-07-28 14:09:48.340174 2025-07-28 14:09:48.340174
<class 'datetime.datetime'>
2025-08-01

FUNCIONES EN PYTHON

In [ ]:
#Suma
def suma(num1, num2):
    return num1 + num2

In [ ]:
print( "la suma de 5 + 8 es: ", suma(5,8))

la suma de 5 + 8 es:  13

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = suma(num1, num2)
print("La suma es: ", respuesta)

Num1: 4
Num2: 6
La suma es:  10.0

TAREA

In [ ]:
#Resta
def resta(num1, num2):
    return num1 - num2

In [ ]:
print( "la resta de 5 - 8 es: ", resta(5,8))

la resta de 5 - 8 es:  -3

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = resta(num1, num2)
print("La resta es: ", respuesta)

Num1: 6
Num2: 3
La resta es:  3.0

In [ ]:
#Haser un ejercicio en python haciendo uso de funciones de usuario, que convierta grados celcius a farenheit
def celciusFarenheit(c):
    return c * 1.8 + 32

In [ ]:
c = int(input("Grados c: "))
r = celciusFarenheit(c)
print("F:", r)

Grados c: 38
F: 100.4

In [ ]:
#Haser un ejercicio en python haciendo uso de funciones de usuario, que convierta grados farenheit a celcius
def farenheitCelcius(f):
    return (f - 32) * 5/9

In [ ]:
f = float(input("Grados F: "))
r = farenheitCelcius(f)
print("C: ", r)

Grados F: 32
C:  0.0

In [ ]:
#Haser un ejercicio en python haciendo uso de funciones de usuario, que convierta grados celcius a kelv
def celciusKelvin(c):
  return (c + 273.15)

In [ ]:
c = float(input("Grados C: "))
r = celciusKelvin(c)
print("K: ", r)

Grados C: 0
K:  273.15

In [ ]:
# #Haser un ejercicio en python haciendo uso de funciones de usuario, que calcule el sueldo de un empleado segun el numero de horas trabajadas y el valor por hora
def sueldo(numHoras, valorHora):
    sueldo = numHoras * valorHora * 30
    return sueldo

In [ ]:
numHoras = float(input("Horas trabajadas: "))
valorHora = float(input("Valor por hora: "))
r = sueldo(numHoras, valorHora)
print("Sueldo: ", r)

Horas trabajadas: 8
Valor por hora: 10
Sueldo:  2400.0

In [ ]:
## #Haser un ejercicio en python haciendo uso de funciones de usuario, que permita elevar un umero a un exponente
def elevar(base, exponente):
    return base ** exponente

In [ ]:
b = float(input("Base: "))
e = float(input("Exponente: "))
r = elevar(b, e)
print("el numero: ", b," elevando al ",e,"da como resultado:", r)

Base: 2
Exponente: 2
el numero:  2.0  elevando al  2.0 da como resultado: 4.0

Uso de funcion Reduse

In [1]:
from functools import reduce

numeros = [5,4,9,6,8,2,3]
suma = reduce (lambda acum, num: acum + num, numeros)
sumaPares = reduce (lambda acum, num: acum + num if num % 2 == 0 else acum, numeros,0)

print("La suma es: ",suma)
print("La suma de los pares es: ",sumaPares)
print("Suma pares: ", sumaPares)

#

La suma es:  37
La suma de los pares es:  20
Suma pares:  20

TUPLAS

In [7]:
tupla = (1,2,3,7,8,9)
print("Tupla: ", tupla, "Primer elemento:", tupla[0], "El numero 5 parece:", tupla.count(1))
print("Ultimo elemento: ", tupla[-1])
print("Rango: ", tupla[0:3])

Tupla:  (1, 2, 3, 7, 8, 9) Primer elemento: 1 El numero 5 parece: 1
Ultimo elemento:  9
Rango:  (1, 2, 3)

In [10]:
import datetime
fecha = datetime.date.today()

semana = ("Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo")
meses = ("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")
dia = fecha.day
mes = fecha.month
year = fecha.year
diaSemana = semana[fecha.isoweekday()]

print(diaSemana, dia, "de", meses[mes], "del", year)
print(fecha, fecha.isoweekday(), diaSemana)
print(dia, mes, year)

Miercoles 12 de Septiembre del 2025
2025-08-12 2 Miercoles
12 8 2025

LISTAS

In [13]:
lista = [5,8,9,4,"Progra III", True, [4,8,9,[8,9,4]]]
print(lista)

[5, 8, 9, 4, 'Progra III', True, [4, 8, 9, [8, 9, 4]]]

In [15]:
def calcularPromedio(nota,notas):
 return notas[1]*0.3 + nota

In [16]:
 # Hacer un ejercicio en python que obtenga la nota final de Progra III del computo 1, hasiendo uso de las listas y de las funciones
from functools import reduce

notas = [["lab1", 8], ["Lab2", 9], ["Parcial", 10]]
prom = reduce(calcularPromedio, notas, 0)
print("Nota final: ", prom)

Nota final:  8.1