<a href="https://colab.research.google.com/github/xavi447/PrograIII_Semi_2025/blob/main/introduccion_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola mundo!")
print("Bienvenidos a la clase de programacion computacional III")

Hola mundo!
Bienvenidos a la clase de programacion computacional III

In [ ]:
nombre = "Javier Romero"
edad = 20
print(nombre, edad)

edad = "veinte"
print("tu edad: ", edad)

Javier Romero 20
tu edad:  veinte

In [ ]:
num1 = 7
num2= 6.5
suma = num1 + num2
print("La suma es:", suma)

La suma es: 13.5

In [ ]:
num1 = float (input("Num1: "))
num2 = float (input("Num2: "))
suma = num1 + num2
print("La suma es: ", suma)

Num1: 20
Num2: 13
La suma es:  33.0

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
resta = num1 - num2
print("La resta es: ", resta)

Num1: 3
Num2: 3
La resta es:  0.0

TIPOS DE DATOS EN PYTHON

In [ ]:
# entero
num1 = 6
print (str(num1) + " Esto es un numero entero")

#Decimal
num2 = 7.5
print(num2, "Esto es un numero decimal")

#Boolenao
esMayor = True
print(esMayor, "Esto es un booleano")

#Cadena
nombre = "Javier Romero"
print(nombre, "Esto es una cadena")
print(nombre, "Letra inicial:", nombre[0],"Un valor en especifico:", nombre[5], "rango:", nombre[0:6],"Comenzar desde el final:", nombre[-1])

#Fecha
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))


fechaPersonalizada = date(2025,8,1)
print(fechaPersonalizada)

6 Esto es un numero entero
7.5 Esto es un numero decimal
True Esto es un booleano
Javier Romero Esto es una cadena
Javier Romero Letra inicial: J Un valor en especifico: r rango: Javier Comenzar desde el final: o
2025-07-28 14:09:48.340174 2025-07-28 14:09:48.340174
<class 'datetime.datetime'>
2025-08-01

FUNCIONES EN PYTHON

In [ ]:
#Suma
def suma(num1, num2):
    return num1 + num2

In [ ]:
print( "la suma de 5 + 8 es: ", suma(5,8))

la suma de 5 + 8 es:  13

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = suma(num1, num2)
print("La suma es: ", respuesta)

Num1: 4
Num2: 6
La suma es:  10.0

TAREA

In [ ]:
#Resta
def resta(num1, num2):
    return num1 - num2

In [ ]:
print( "la resta de 5 - 8 es: ", resta(5,8))

la resta de 5 - 8 es:  -3

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = resta(num1, num2)
print("La resta es: ", respuesta)

Num1: 6
Num2: 3
La resta es:  3.0

In [ ]:
#Haser un ejercicio en python haciendo uso de funciones de usuario, que convierta grados celcius a farenheit
def celciusFarenheit(c):
    return c * 1.8 + 32

In [ ]:
c = int(input("Grados c: "))
r = celciusFarenheit(c)
print("F:", r)

Grados c: 38
F: 100.4

In [ ]:
#Haser un ejercicio en python haciendo uso de funciones de usuario, que convierta grados farenheit a celcius
def farenheitCelcius(f):
    return (f - 32) * 5/9

In [ ]:
f = float(input("Grados F: "))
r = farenheitCelcius(f)
print("C: ", r)

Grados F: 32
C:  0.0

In [ ]:
#Haser un ejercicio en python haciendo uso de funciones de usuario, que convierta grados celcius a kelv
def celciusKelvin(c):
  return (c + 273.15)

In [ ]:
c = float(input("Grados C: "))
r = celciusKelvin(c)
print("K: ", r)

Grados C: 0
K:  273.15

In [ ]:
# #Haser un ejercicio en python haciendo uso de funciones de usuario, que calcule el sueldo de un empleado segun el numero de horas trabajadas y el valor por hora
def sueldo(numHoras, valorHora):
    sueldo = numHoras * valorHora * 30
    return sueldo

In [ ]:
numHoras = float(input("Horas trabajadas: "))
valorHora = float(input("Valor por hora: "))
r = sueldo(numHoras, valorHora)
print("Sueldo: ", r)

Horas trabajadas: 8
Valor por hora: 10
Sueldo:  2400.0

In [ ]:
## #Haser un ejercicio en python haciendo uso de funciones de usuario, que permita elevar un umero a un exponente
def elevar(base, exponente):
    return base ** exponente

In [ ]:
b = float(input("Base: "))
e = float(input("Exponente: "))
r = elevar(b, e)
print("el numero: ", b," elevando al ",e,"da como resultado:", r)

Base: 2
Exponente: 2
el numero:  2.0  elevando al  2.0 da como resultado: 4.0

Uso de funcion Reduse

In [ ]:
from functools import reduce

numeros = [5,4,9,6,8,2,3]
suma = reduce (lambda acum, num: acum + num, numeros)
sumaPares = reduce (lambda acum, num: acum + num if num % 2 == 0 else acum, numeros,0)

print("La suma es: ",suma)
print("La suma de los pares es: ",sumaPares)
print("Suma pares: ", sumaPares)

#

La suma es:  37
La suma de los pares es:  20
Suma pares:  20

TUPLAS

In [ ]:
tupla = (1,2,3,7,8,9)
print("Tupla: ", tupla, "Primer elemento:", tupla[0], "El numero 5 parece:", tupla.count(1))
print("Ultimo elemento: ", tupla[-1])
print("Rango: ", tupla[0:3])

Tupla:  (1, 2, 3, 7, 8, 9) Primer elemento: 1 El numero 5 parece: 1
Ultimo elemento:  9
Rango:  (1, 2, 3)

In [ ]:
import datetime
fecha = datetime.date.today()

semana = ("Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo")
meses = ("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")
dia = fecha.day
mes = fecha.month
year = fecha.year
diaSemana = semana[fecha.isoweekday()]

print(diaSemana, dia, "de", meses[mes], "del", year)
print(fecha, fecha.isoweekday(), diaSemana)
print(dia, mes, year)

Miercoles 12 de Septiembre del 2025
2025-08-12 2 Miercoles
12 8 2025

LISTAS

In [ ]:
lista = [5,8,9,4,"Progra III", True, [4,8,9,[8,9,4]]]
print(lista)

[5, 8, 9, 4, 'Progra III', True, [4, 8, 9, [8, 9, 4]]]

In [ ]:
def calcularPromedio(nota, notas):
  return notas[1]*notas[2] + nota # 8*0.3 + 9*0.3 + 10*0.3

In [ ]:
#Hacer un ejercicio en python que obtenga la nota final de Progra III del computo I, haciendo uso de las listas y de las funciones.
from functools import reduce
#estudiante...
notas = [
    ["Lab1", 10, 0.3],
    ["Lab2", 10, 0.3],
    ["Parcial1", 10, 0.4],

    ["Lab1", 10, 0.3],
    ["Lab2", 10, 0.3],
    ["Parcial2", 10, 0.4],

    ["Lab1", 10, 0.3],
    ["Lab2", 10, 0.3],
    ["Parcial3", 10, 0.4]
  ]
prom = reduce(calcularPromedio, notas, 0)
nf = prom / 3
print("Nota Final de Progra III: ", nf)

Nota Final de Progra III:  10.0

El usuario ingresa sus notas

In [ ]:
#Hacer un ejercicio en python que obtenga la nota final de Progra III del computo I,
#donde el usuario va introducir las notas, haciendo uso de las listas y de las funciones.
from functools import reduce

notas = []
for i in range(1,4):
  nota = float(input("Act: "+ str(i) + ": "))
  porcentaje = float(input("Porcentaje: "))
  notas.append(["Act. "+ str(i), nota, porcentaje])

prom = reduce(calcularPromedio, notas, 0)
print("Nota Final de C1 ", prom)

Act: 1: 9
Porcentaje: 0.3
Act: 2: 6
Porcentaje: 0.3
Act: 3: 7
Porcentaje: 0.4
Nota Final de C1  7.300000000000001

In [ ]:
#sort
valores = [5,8,9,1,3,4,7]

print(valores, "Lista original")

valores.sort()
print(valores, "POrdenados de menor a mayor")

valores.reverse()
print(valores, "Ordenados de mayor a menor")

#valores.sort(reverse=True)
#print(valores, "Ordenados de mayor a menor")

[5, 8, 9, 1, 3, 4, 7] Lista original
[1, 3, 4, 5, 7, 8, 9] POrdenados de menor a mayor
[9, 8, 7, 5, 4, 3, 1] Ordenados de mayor a menor

DICCIONARIOS JSON

In [ ]:
persona = {
  "codigo": "USSS006224",
  "nombre": "Javier Romero",
  "materias": [
    {
      "codigo": 611,
      "nombre": "Programacion I",
      "notas":{
        "c1": {"lab1":8, "lab2":9.9, "parcial":10},
        "c2": {"lab1":7.78, "lab2":6.5, "parcial":8},
        "c3": {"lab1":10, "lab2":9, "parcial":9}
      }
    },
    {
      "codigo": 612,
      "nombre": "Programacion II",
      "notas":{
        "c1": {"lab1":5, "lab2": 7, "parcial":9},
        "c2": {"lab1":9, "lab2": 6, "parcial": 10},
        "c3": {"lab1":10, "lab2": 10, "parcial": 9}
      }
    }
  ]
}
print(persona["nombre"], "->", persona["materias"][0]["nombre"], "-> CI: ",
      persona["materias"][0]["notas"]["c1"],
      persona["materias"][0]["notas"]["c1"]["lab1"]
      )

Javier Romero -> Programacion I -> CI:  {'lab1': 8, 'lab2': 9.9, 'parcial': 10} 8

ESTRUCTURAS DE CONTROL

In [ ]:
#if
#hacer un ejercicio en python que permita clasificar las edades segun su rango
edad = int(input("Edad: "))
if(edad<0):
  print("Error al ingresar la edad, solo valores positivos.")
elif(edad<=2):
  print("Eres un bebe...")
elif(edad<=11):
  print("Eres un niño...")
elif(edad<18):
  print("Eres un adolescente...")
elif(edad<65):
  print("Eres un adulto responsable...")
elif(edad<85):
  print("Eres un adulto mayor...")
else:
  print("Larga vida...")

Edad: 100
Larga vida...

LAB2 C1

In [1]:
def calcularSueldoNeto():
    salario_nominal = float(input("Ingresa el salario nominal: "))
    tasa_isss = 0.03
    tasa_afp = 0.0625
    descuento_isss = salario_nominal * tasa_isss
    descuento_afp = salario_nominal * tasa_afp
    renta_neta = salario_nominal - (descuento_isss + descuento_afp)
    descuento_isr = 0

    if renta_neta <= 472.00:
        descuento_isr = 0
    elif renta_neta <= 895.24:
        exceso = renta_neta - 472.00
        descuento_isr = exceso * 0.10 + 17.67
    elif renta_neta <= 2038.10:
        exceso = renta_neta - 895.24
        descuento_isr = exceso * 0.20 + 60.00
    else:
        exceso = renta_neta - 2038.10
        descuento_isr = exceso * 0.30 + 288.57

    total_deducciones = descuento_isss + descuento_afp + descuento_isr
    sueldo_neto = salario_nominal - total_deducciones

    print("Salario Nominal:", salario_nominal)
    print("Descuento ISSS:", descuento_isss)
    print("Descuento AFP:", descuento_afp)
    print("Descuento ISR:", descuento_isr)
    print("Total de deducciones:", total_deducciones)
    print("Sueldo Neto:", sueldo_neto)

calcularSueldoNeto()

Ingresa el salario nominal: 100
Salario Nominal: 100.0
Descuento ISSS: 3.0
Descuento AFP: 6.25
Descuento ISR: 0
Total de deducciones: 9.25
Sueldo Neto: 90.75

Calcular valor a pagar segun numero de metros consumidos de agua

In [ ]:
def calcularTarifaAgua():
    metros_consumidos = float(input("¿Cuántos metros de agua consumiste? "))
    costo_total = 0

    if metros_consumidos <= 18:
        costo_total = 6.00
    elif metros_consumidos <= 28:
        exceso = metros_consumidos - 18
        costo_total = 6.00 + (exceso * 0.45)
    else:
        costo_primeros_18 = 6.00
        costo_siguientes_10 = 10 * 0.45
        exceso = metros_consumidos - 28
        costo_exceso = exceso * 0.65
        costo_total = costo_primeros_18 + costo_siguientes_10 + costo_exceso

    print("El costo total a pagar es: $", costo_total)

calcularTarifaAgua()

¿Cuántos metros de agua consumiste? 38
El costo total a pagar es: $ 17.0

Calcular acumulado de meses

In [ ]:
def calcularMesesAcumulados():
    meses = int(input("Ingresa el número de meses a acumular: "))

    acumulado = 0

    for mes in range(1, meses + 1):
        acumulado = acumulado + mes

    print("El acumulado de", meses, "meses es:", acumulado)

calcularMesesAcumulados()

Ingresa el número de meses a acumular: 7
El acumulado de 7 meses es: 28

Conversor de unidades

In [ ]:
def conversor_universal(nombre_tipo, tasas):
    print(f"\n*** Conversor de {nombre_tipo.capitalize()} ***")

    unidades_disponibles = list(tasas.keys())

    print("Unidades disponibles:")
    for i, unidad in enumerate(unidades_disponibles, 1):
        print(f"{i}. {unidad}")

    try:
        opcion_origen = int(input("Selecciona la unidad de origen: ")) - 1
        opcion_destino = int(input("Selecciona la unidad de destino: ")) - 1

        if 0 <= opcion_origen < len(unidades_disponibles) and 0 <= opcion_destino < len(unidades_disponibles):
            unidad_origen = unidades_disponibles[opcion_origen]
            unidad_destino = unidades_disponibles[opcion_destino]

            valor = float(input(f"Ingresa el valor en {unidad_origen}: "))

            valor_en_base = valor / tasas[unidad_origen]
            resultado = valor_en_base * tasas[unidad_destino]

            print(f"{valor} {unidad_origen} equivale a {resultado} {unidad_destino}")
        else:
            print("Opción no válida. Inténtalo de nuevo.")
    except (ValueError, IndexError):
        print("Entrada no válida. Por favor, ingresa un número.")

def Cmonedas():
    tasas = {
        "Dólar": 1, "Euro": 0.92, "Libra Esterlina": 0.79, "Yen Japonés": 140.00,
        "Dólar Canadiense": 1.35, "Peso Mexicano": 17.15, "Peso Chileno": 950.00,
        "Peso Argentino": 870.00, "Peso Colombiano": 4000.00, "Real Brasileño": 5.20
    }
    conversor_universal("monedas", tasas)

def Cmasa():
    tasas = {
        "Kilogramo": 1, "Gramo": 1000, "Miligramo": 1000000, "Libra": 2.20462, "Onza": 35.274,
        "Tonelada": 0.001, "Stone": 0.157473, "Quilate": 5000, "Dram": 564.383, "Grain": 15432.4
    }
    conversor_universal("masa", tasas)

def Cvolumen():
    tasas = {
        "Litro": 1, "Mililitro": 1000, "Galón": 0.264172, "Cuarto": 1.05669, "Pinta": 2.11338,
        "Taza": 4.22675, "Metro Cúbico": 0.001, "Pie Cúbico": 0.0353147, "Pulgada Cúbica": 61.0237,
        "Onza Fluida": 33.814
    }
    conversor_universal("volumen", tasas)

def Clongitud():
    tasas = {
        "Metro": 1, "Kilómetro": 0.001, "Centímetro": 100, "Milímetro": 1000,
        "Yarda": 1.09361, "Pie": 3.28084, "Pulgada": 39.3701, "Milla": 0.000621371
    }
    conversor_universal("longitud", tasas)

def Calmacenamiento():
    tasas = {
        "Byte": 1, "Kilobyte": 0.0009765625, "Megabyte": 9.53674e-07, "Gigabyte": 9.31323e-10,
        "Terabyte": 9.09495e-13, "Petabyte": 8.88178e-16, "Exabyte": 8.67362e-19,
        "Zettabyte": 8.47033e-22, "Yottabyte": 8.27181e-25, "Brontobyte": 8.07794e-28
    }
    conversor_universal("almacenamiento", tasas)

def Ctiempo():
    tasas = {
        "Segundo": 1, "Minuto": 0.0166667, "Hora": 0.000277778, "Día": 1.15741e-05,
        "Semana": 1.65344e-06, "Mes": 3.80517e-07, "Año": 3.17098e-08,
        "Década": 3.17098e-09, "Siglo": 3.17098e-10, "Milenio": 3.17098e-11
    }
    conversor_universal("tiempo", tasas)

def Carea():
    tasas = {
        "Metro Cuadrado": 1, "Kilómetro Cuadrado": 0.000001, "Hectárea": 0.0001, "Pie Cuadrado": 10.7639,
        "Centímetro Cuadrado": 10000, "Milla Cuadrada": 3.86102e-07, "Acre": 0.000247105,
        "Yarda Cuadrada": 1.19599, "Manzana": 0.000142857, "Tarea": 0.0022857
    }
    conversor_universal("area", tasas)

def menu_principal():
    while True:
        print("\n***Menu de opciones***")
        print("1. Conversión de monedas")
        print("2. Conversión de masas")
        print("3. Conversión de volumen")
        print("4. Conversión de longitud")
        print("5. Conversión de almacenamiento")
        print("6. Conversión de tiempo")
        print("7. Conversión de área")
        print("8. Salir")

        opcion = input("opcion: ")

        if opcion == "1":
            Cmonedas()
        elif opcion == "2":
            Cmasa()
        elif opcion == "3":
            Cvolumen()
        elif opcion == "4":
            Clongitud()
        elif opcion == "5":
            Calmacenamiento()
        elif opcion == "6":
            Ctiempo()
        elif opcion == "7":
            Carea()
        elif opcion == "8":
            print("Saliendo del programa...")
            break
        else:
            print("Opción no válida. Inténtalo de nuevo.")

menu_principal()

***Menu de opciones***
1. Conversión de monedas
2. Conversión de masas
3. Conversión de volumen
4. Conversión de longitud
5. Conversión de almacenamiento
6. Conversión de tiempo
7. Conversión de área
8. Salir
opcion: 7

*** Conversor de Area ***
Unidades disponibles:
1. Metro Cuadrado
2. Kilómetro Cuadrado
3. Hectárea
4. Pie Cuadrado
5. Centímetro Cuadrado
6. Milla Cuadrada
7. Acre
8. Yarda Cuadrada
9. Manzana
10. Tarea
Selecciona la unidad de origen: 9
Selecciona la unidad de destino: 1
Ingresa el valor en Manzana: 1
1.0 Manzana equivale a 7000.007000007 Metro Cuadrado

***Menu de opciones***
1. Conversión de monedas
2. Conversión de masas
3. Conversión de volumen
4. Conversión de longitud
5. Conversión de almacenamiento
6. Conversión de tiempo
7. Conversión de área
8. Salir
opcion: 7

*** Conversor de Area ***
Unidades disponibles:
1. Metro Cuadrado
2. Kilómetro Cuadrado
3. Hectárea
4. Pie Cuadrado
5. Centímetro Cuadrado
6. Milla Cuadrada
7. Acre
8. Yarda Cuadrada
9. Manzana
10. Tarea
Selecciona la unidad de origen: 10
Selecciona la unidad de destino: 9
Ingresa el valor en Tarea: 1
1.0 Tarea equivale a 0.0625003281270508 Manzana

***Menu de opciones***
1. Conversión de monedas
2. Conversión de masas
3. Conversión de volumen
4. Conversión de longitud
5. Conversión de almacenamiento
6. Conversión de tiempo
7. Conversión de área
8. Salir
opcion: 8
Saliendo del programa...

Conversor propio, de unidades a cajas y viseversa

In [ ]:

def conversor_cajas():

    unidades_por_caja = 25

    print("Opciones de conversión:")
    print("1. Convertir de unidades a cajas")
    print("2. Convertir de cajas a unidades")

    opcion = input("Selecciona una opción (1 o 2): ")

    if opcion == "1":

        valor_unidades = float(input("Ingresa la cantidad de unidades: "))
        resultado = valor_unidades / unidades_por_caja
        print(f"{valor_unidades} unidades equivalen a {resultado} cajas.")

    elif opcion == "2":

        valor_cajas = float(input("Ingresa la cantidad de cajas: "))
        resultado = valor_cajas * unidades_por_caja
        print(f"{valor_cajas} cajas equivalen a {resultado} unidades.")

    else:
        print("Opción no válida. Por favor, selecciona 1 o 2.")


conversor_cajas()

Opciones de conversión:
1. Convertir de unidades a cajas
2. Convertir de cajas a unidades
Selecciona una opción (1 o 2): 1
Ingresa la cantidad de unidades: 80
80.0 unidades equivalen a 3.2 cajas.